package ml.coinlist.android;

public class Config {
    private Config() {}

    public static final String APP_OVERRIDE_STORE_PAGE_URL = "https://github.com/bplaat/coinlist-android";

    public static final int ANIMATION_DURATION = 200;
    public static final int ANIMATION_IMAGE_LOADING_TIMEOUT = 50;

    public static final boolean SETTINGS_STARRED_ONLY_DEFAULT = false;

    public static final int SETTINGS_REFRESH_TIMEOUT = 60 * 1000;

    public static final int SETTINGS_CURRENCY_USD = 0;
    public static final int SETTINGS_CURRENCY_EUR = 1;
    public static final int SETTINGS_CURRENCY_BTC = 2;
    public static final int SETTINGS_CURRENCY_SATS = 3;
    public static final int SETTINGS_CURRENCY_ETH = 4;
    public static final int SETTINGS_CURRENCY_BNB = 5;
    public static final int SETTINGS_CURRENCY_DEFAULT = Config.SETTINGS_CURRENCY_USD;
    public static final String[] SETTINGS_CURRENCY_NAMES = { "usd", "eur", "btc", "sats", "eth", "bnb" };

    public static final int SETTINGS_LANGUAGE_ENGLISH = 0;
    public static final int SETTINGS_LANGUAGE_DUTCH = 1;
    public static final int SETTINGS_LANGUAGE_SYSTEM = 2;
    public static final int SETTINGS_LANGUAGE_DEFAULT = Config.SETTINGS_LANGUAGE_SYSTEM;

    public static final int SETTINGS_THEME_LIGHT = 0;
    public static final int SETTINGS_THEME_DARK = 1;
    public static final int SETTINGS_THEME_SYSTEM = 2;
    public static final int SETTINGS_THEME_DEFAULT = Config.SETTINGS_THEME_SYSTEM;

    public static final String SETTINGS_ABOUT_WEBSITE_URL = "https://bplaat.nl/";

    public static final int RATING_ALERT_LAUNCHES_UNTIL_PROMPT = 5;
    public static final int RATING_ALERT_TIME_UNTIL_PROMPT = 2 * 24 * 60 * 60 * 1000;
}
