/*
 * Copyright (c) 2020-2024 Bastiaan van der Plaat
 *
 * SPDX-License-Identifier: MIT
 */

package nl.plaatsoft.redsquare.android;

public class Config {
    private Config() {
    }

    public static final String API_URL = "";
    public static final String API_KEY = "";
}
