name: tweakers-release

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  tweakers-release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install bob
        run: cargo install --git https://github.com/bplaat/crates.git bob
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 14742923
      - name: Build release
        working-directory: bin/tweakers
        run: |
          export JAVA_HOME=$JAVA_HOME_21_X64
          export PATH=$JAVA_HOME/bin:$PATH
          echo "${{ secrets.TWEAKERS_KEYSTORE }}" | base64 --decode > keystore.jks
          bob build --release
      - name: Create Git tag and GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: bin/tweakers
        run: |
          TAG_VERSION=$(sed -nE 's/^[[:space:]]*version[[:space:]]*=[[:space:]]*"([^"]+)".*/\1/p' bob.toml)
          gh release create "tweakers/v${TAG_VERSION}" \
            --title "Tweakers v${TAG_VERSION}" \
            --notes "Download the \`.apk\` file and open it to install the application" \
            target/release/tweakers-${TAG_VERSION}.apk
